#wpadminbar .siteimprove-trigger-contentcheck a svg {
  max-height: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-right: 35px;
}
#wpadminbar .quicklinks>ul>li.siteimprove-trigger-contentcheck>a {
  padding-left: 30px;
}
