/**
 * @file
 * Contains the Siteimprove Plugin css styles.
 */
.spinner.no-float {
    float: none;
    vertical-align: top;
}
.recheck-button-wrapper {
    border-top: 1px solid #DDD;
    clear: both;
    margin-top: 1em;
    padding-top: 1em;
}
.recheck-button-wrapper input {
    width: 100%;
}
#edittag .submit .button-primary {
    margin-bottom: 1em;
    margin-right: 1em;
}